.footer {
	color: #333;
	margin: 0 auto;

	a {
		color: #333;
		text-decoration: underline;
	}

	span,
	p {
		font-size: 0.7rem;
		padding: 0 10px;
	}

	span {
		font-weight: bold;
	}

	p {
		font-weight: normal;
	}

	@include respond-min($bp-mid){
		border-radius: 10px 10px 0 0;
		padding-left: #{$layout-margin}px;
		padding-right: #{$layout-margin}px;
		margin-top: 24px;
		width: 95%;
		max-width: #{$layout-max-width}px;
	}
}