.masthead {
	background-image: -webkit-linear-gradient(left, #ef7d00 0%, #f9b000 100%);
	background-image: -moz-linear-gradient(left, #ef7d00 0%, #f9b000 100%);
	background-image: linear-gradient(to right, #ef7d00 0%, #f9b000 100%);
	background-color: #ef7d00;
	padding: 15px 0 5px;
	position: relative;
	// z-index: 999;
	width: 80%;
	border-radius: 0 10px 10px 0;

	@include respond-min($bp-mid){
		width: 526px;
	}

	.logo-d {
		display: block;
		padding: 5px 0 5px 45px;
		max-width: 90%;
	}
}